tqdm
rotary_embedding_torch
transformers==4.19
tokenizers
inflect
progressbar
einops==0.4.1
unidecode
scipy==0.10.1
librosa==0.9.1
numba==0.48.0
ffmpeg
numpy==1.22.4
numba==0.48.0
torchaudio==0.12.0
torch==1.12.0
threadpoolctl
llvmlite
appdirs